body {
  background-color: #FAF0E6;
  background: repeating-linear-gradient(45deg, #C9AF94 0%, #C9AF94 10%,
    #FAF0E6 0%, #FAF0E6 50%) 0 / 15px 15px;
}

#title {
  position: relative;
  width: 50%;
  margin: auto;
  text-align: center;
}

#titleImage {
	opacity: 0.8;

	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;

	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#titleImage:hover {
  opacity: 1;

/*Reflection*/
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));

/*Glow*/
-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

#wrapper {
  width: 50%;
  margin: 0 auto;
}

#myTable {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.rows {
}

td {
  height: 50px;
  width: 50px;
  background-color: none;
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
}

.squares {
  background-color: #8B4C39;
  display: block;
  height: 50px;
  width: 50px;
  outline: solid #8B4C39 2px;
}

.buttons {
  opacity: 0.8;
  background-color: #B3432B;
  position: relative;
  clear: both;
  font-family: 'Merriweather', serif;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  opacity: 1;
}

#newPad {
  text-align: center;
  display: inline-block;
}

#swapMode {
  text-align: center;
  display: inline-block;
}

#buttonDiv {
  text-align:center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#paragraph {
  position: relative;
  text-align: center;
  margin: auto 0;
  width: 100%;
  bottom: 0px;
}

#paragraph p {
  font-family: 'Slabo 27px', serif;
  opacity: 0.6;
  position:relative;
  font-size: 32px;
  color: black;
}
